Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @YuanfuC
 Sign out
2,433
61,803 28,014 github/gitignore
 Code  Pull requests 168  Projects 0  Insights
gitignore/Objective-C.gitignore
8ca6baa  on 16 Feb 2017
@shiftkey shiftkey updated link to fastlane docs
@KrauseFx @arcresu @jspahrsummers @pingwinator @msgerbush @czechboy0 @Coeur @shiftkey @modocache @aroben @stig @soffes @riosc @wolffan @peat @osteslag @OliverLetterer @nrbrook @intabulas @MinJunKweon @stuffmc @matzew @yanniks @rentzsch @victorgama @mattrubin
     
64 lines (52 sloc)  1.37 KB
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
